body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_User_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1329px;
    height:953px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1335px;
    height:959px;
}

.u1 {
    position:absolute;
    left:2px;
    top:468px;
    width:1325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Master_User_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:121px;
    top:120px;
    width:1098px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Master_User_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:121px;
    top:170px;
    width:1098px;
    height:783px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:789px;
}

.u5 {
    position:absolute;
    left:2px;
    top:384px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Master_User_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:121px;
    top:0px;
    width:1098px;
    height:120px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:126px;
}

.u7 {
    position:absolute;
    left:2px;
    top:52px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_container {
    position:absolute;
    left:264px;
    top:0px;
    width:903px;
    height:120px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:903px;
    height:120px;
}

.u9 {
    position:absolute;
    left:2px;
    top:52px;
    width:899px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_container {
    position:absolute;
    left:121px;
    top:0px;
    width:143px;
    height:120px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:120px;
}

.u11 {
    position:absolute;
    left:2px;
    top:52px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:1101px;
    top:0px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:1101px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_line {
    background-image: url('../Master_User_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u14 {
    position:absolute;
    left:121px;
    top:120px;
    width:1098px;
    height:10px;
    
}

.u15_line {
    background-image: url('../Master_User_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u15 {
    position:absolute;
    left:121px;
    top:160px;
    width:1098px;
    height:10px;
    
}

.u16 {
    position:absolute;
    left:133px;
    top:410px;
    width:114px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:257px;
    top:410px;
    width:136px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:147px;
    top:130px;
    width:100px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:257px;
    top:130px;
    width:110px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:377px;
    top:130px;
    width:123px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:510px;
    top:130px;
    width:100px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:620px;
    top:130px;
    width:100px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:403px;
    top:410px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_normal {
    background-image: url('../Master_User_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:873px;
    top:402px;
    width:346px;
    height:432px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:438px;
}

.u25 {
    position:absolute;
    left:2px;
    top:208px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:946px;
    top:101px;
    width:70px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:883px;
    top:102px;
    width:53px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u28 {
    position:absolute;
    left:257px;
    top:192px;
    width:791px;
    height:201px;
    overflow:hidden;
}

#pd2u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:791px;
    height:201px;
    
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:200px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:200px;
}

.u30 {
    position:absolute;
    left:2px;
    top:92px;
    width:785px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:791px;
    height:201px;
    
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:790px;
    height:201px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:790px;
    height:201px;
}

.u32 {
    position:absolute;
    left:2px;
    top:92px;
    width:786px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:791px;
    height:201px;
    
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:200px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:200px;
}

.u34 {
    position:absolute;
    left:2px;
    top:92px;
    width:785px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Master_User_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:121px;
    top:903px;
    width:1098px;
    height:50px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u36 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:133px;
    top:920px;
    width:799px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Master_User_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:873px;
    top:402px;
    width:346px;
    height:432px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:352px;
    height:438px;
}

.u39 {
    position:absolute;
    left:2px;
    top:208px;
    width:342px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_selected {
    background-image: url('../Master_User_files/u42_selected.png');
}

.u42_normal {
    background-image: url('../Master_User_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:40px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:234px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:240px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:205px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:217px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_selected {
    background-image: url('../Master_User_files/u42_selected.png');
}

.u56_normal {
    background-image: url('../Master_User_files/u42_normal.png');
}

.u56_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:64px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:258px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:251px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:257px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:2px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67_selected {
    background-image: url('../Master_User_files/u42_selected.png');
}

.u67_normal {
    background-image: url('../Master_User_files/u42_normal.png');
}

.u67_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u68 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:55px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u72_container {
    position:absolute;
    left:22px;
    top:0px;
    width:258px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:26px;
}

.u73 {
    position:absolute;
    left:3px;
    top:2px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u75_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u75_container {
    position:absolute;
    left:22px;
    top:0px;
    width:251px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:257px;
    height:26px;
}

.u76 {
    position:absolute;
    left:3px;
    top:2px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77 {
    position:absolute;
    left:888px;
    top:414px;
    width:320px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../Master_User_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:346px;
    height:3px;
}

.u78 {
    position:absolute;
    left:873px;
    top:436px;
    width:346px;
    height:10px;
    
}

.u79_normal {
    background-image: url('../Master_User_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:978px;
    top:798px;
    width:100px;
    height:25px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u80 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:121px;
    top:464px;
    width:336px;
    height:309px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:121px;
    top:442px;
    width:336px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:502px;
    top:464px;
    width:336px;
    height:309px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#0000CC;
    font-style:normal;
    font-weight:normal;
    text-decoration:underline;
    
}

.u85 {
    position:absolute;
    left:502px;
    top:442px;
    width:336px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

