body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:722px;
    height:807px
}

.u1_normal {
    background-image: url('../Delete_News_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:580px;
    height:196px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:202px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:576px;
    height:192px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Delete_News_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:580px;
    top:0px;
    width:137px;
    height:196px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:202px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Delete_News_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:196px;
    width:580px;
    height:133px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:139px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:576px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Delete_News_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:580px;
    top:196px;
    width:137px;
    height:133px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:139px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Delete_News_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:329px;
    width:580px;
    height:133px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:139px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:576px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Delete_News_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:580px;
    top:329px;
    width:137px;
    height:133px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:139px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Delete_News_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:462px;
    width:580px;
    height:340px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:346px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:576px;
    height:336px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Delete_News_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:580px;
    top:462px;
    width:137px;
    height:340px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:346px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:593px;
    top:591px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:593px;
    top:376px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:593px;
    top:237px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:593px;
    top:48px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:423px;
    top:819px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

