body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:3px;
    top:2px;
    width:829px;
    height:412px
}

.u1_normal {
    background-image: url('../blood_center_details_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:53px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:59px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../blood_center_details_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:202px;
    top:0px;
    width:622px;
    height:53px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:59px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:41px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../blood_center_details_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:53px;
    width:202px;
    height:34px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:40px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../blood_center_details_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:202px;
    top:53px;
    width:622px;
    height:34px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:40px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../blood_center_details_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:87px;
    width:202px;
    height:37px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:43px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../blood_center_details_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:202px;
    top:87px;
    width:622px;
    height:37px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:43px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../blood_center_details_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:124px;
    width:202px;
    height:37px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:43px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../blood_center_details_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:202px;
    top:124px;
    width:622px;
    height:37px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:43px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../blood_center_details_files/u9_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:161px;
    width:202px;
    height:37px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:43px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../blood_center_details_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:202px;
    top:161px;
    width:622px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:43px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../blood_center_details_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:198px;
    width:202px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:43px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../blood_center_details_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:202px;
    top:198px;
    width:622px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:43px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../blood_center_details_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:235px;
    width:202px;
    height:172px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:178px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../blood_center_details_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:202px;
    top:235px;
    width:622px;
    height:172px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:178px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_container {
    position:absolute;
    left:3px;
    top:28px;
    width:200px;
    height:327px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:327px;
}

.u30 {
    position:absolute;
    left:2px;
    top:156px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:213px;
    top:263px;
    width:571px;
    height:121px
}

.u32_normal {
    background-image: url('../blood_center_details_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:36px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:85px;
    top:0px;
    width:60px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:145px;
    top:0px;
    width:60px;
    height:36px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:205px;
    top:0px;
    width:60px;
    height:36px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:265px;
    top:0px;
    width:60px;
    height:36px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:325px;
    top:0px;
    width:60px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u44_container {
    position:absolute;
    left:385px;
    top:0px;
    width:60px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u46_container {
    position:absolute;
    left:445px;
    top:0px;
    width:60px;
    height:36px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../blood_center_details_files/u34_normal.png');
}

.u48_container {
    position:absolute;
    left:506px;
    top:0px;
    width:60px;
    height:36px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../blood_center_details_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:36px;
    width:85px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:85px;
    top:36px;
    width:60px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u54_container {
    position:absolute;
    left:145px;
    top:36px;
    width:60px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u56_container {
    position:absolute;
    left:205px;
    top:36px;
    width:60px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u58_container {
    position:absolute;
    left:265px;
    top:36px;
    width:60px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u60_container {
    position:absolute;
    left:325px;
    top:36px;
    width:60px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u62_container {
    position:absolute;
    left:385px;
    top:36px;
    width:60px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u64_container {
    position:absolute;
    left:445px;
    top:36px;
    width:60px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u66_container {
    position:absolute;
    left:506px;
    top:36px;
    width:60px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../blood_center_details_files/u50_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:56px;
    width:85px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u70_container {
    position:absolute;
    left:85px;
    top:56px;
    width:60px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u72_container {
    position:absolute;
    left:145px;
    top:56px;
    width:60px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u74_container {
    position:absolute;
    left:205px;
    top:56px;
    width:60px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u76_container {
    position:absolute;
    left:265px;
    top:56px;
    width:60px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u78_container {
    position:absolute;
    left:325px;
    top:56px;
    width:60px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u80_container {
    position:absolute;
    left:385px;
    top:56px;
    width:60px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u82_container {
    position:absolute;
    left:445px;
    top:56px;
    width:60px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u84_container {
    position:absolute;
    left:506px;
    top:56px;
    width:60px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../blood_center_details_files/u50_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:76px;
    width:85px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u88_container {
    position:absolute;
    left:85px;
    top:76px;
    width:60px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u90_container {
    position:absolute;
    left:145px;
    top:76px;
    width:60px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u92_container {
    position:absolute;
    left:205px;
    top:76px;
    width:60px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u94_container {
    position:absolute;
    left:265px;
    top:76px;
    width:60px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u96_container {
    position:absolute;
    left:325px;
    top:76px;
    width:60px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u98_container {
    position:absolute;
    left:385px;
    top:76px;
    width:60px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u100_container {
    position:absolute;
    left:445px;
    top:76px;
    width:60px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u102_container {
    position:absolute;
    left:506px;
    top:76px;
    width:60px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../blood_center_details_files/u50_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:96px;
    width:85px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u106_container {
    position:absolute;
    left:85px;
    top:96px;
    width:60px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u108_container {
    position:absolute;
    left:145px;
    top:96px;
    width:60px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u110_container {
    position:absolute;
    left:205px;
    top:96px;
    width:60px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u112_container {
    position:absolute;
    left:265px;
    top:96px;
    width:60px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u114_container {
    position:absolute;
    left:325px;
    top:96px;
    width:60px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u116_container {
    position:absolute;
    left:385px;
    top:96px;
    width:60px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u118_container {
    position:absolute;
    left:445px;
    top:96px;
    width:60px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../blood_center_details_files/u52_normal.png');
}

.u120_container {
    position:absolute;
    left:506px;
    top:96px;
    width:60px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:800px;
    top:0px;
    width:27px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

