body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_Admin_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:20px;
    width:1329px;
    height:953px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1335px;
    height:959px;
}

.u1 {
    position:absolute;
    left:2px;
    top:468px;
    width:1325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Master_Admin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:121px;
    top:20px;
    width:1098px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:212px;
    top:106px;
    width:479px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:257px;
    top:0px;
    width:790px;
    height:145px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Master_Admin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:121px;
    top:154px;
    width:1098px;
    height:783px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:789px;
}

.u7 {
    position:absolute;
    left:2px;
    top:384px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Master_Admin_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u8 {
    position:absolute;
    left:121px;
    top:140px;
    width:1098px;
    height:10px;
    
}

.u9_line {
    background-image: url('../Master_Admin_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u9 {
    position:absolute;
    left:121px;
    top:144px;
    width:1098px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../Master_Admin_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:121px;
    top:887px;
    width:1098px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:133px;
    top:904px;
    width:799px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:1061px;
    top:20px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Master_Admin_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:121px;
    top:175px;
    width:210px;
    height:399px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:405px;
}

.u15 {
    position:absolute;
    left:2px;
    top:192px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:133px;
    top:191px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:133px;
    top:240px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:133px;
    top:289px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:133px;
    top:388px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:133px;
    top:338px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:1095px;
    top:36px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:133px;
    top:430px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Master_Admin_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:121px;
    top:20px;
    width:200px;
    height:120px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:120px;
}

.u24 {
    position:absolute;
    left:2px;
    top:52px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:621px;
    top:179px;
    width:593px;
    height:681px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:593px;
    height:681px;
    
}

.u28 {
    position:absolute;
    left:343px;
    top:191px;
    width:257px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:996px;
    top:869px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:1097px;
    top:869px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u31 {
    position:absolute;
    left:344px;
    top:220px;
    width:272px;
    height:199px
}

.u32_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:105px;
    top:0px;
    width:162px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:20px;
    width:105px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:105px;
    top:20px;
    width:162px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:56px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:70px;
    width:105px;
    height:52px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:58px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:105px;
    top:70px;
    width:162px;
    height:52px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:58px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:122px;
    width:105px;
    height:72px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:78px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:105px;
    top:122px;
    width:162px;
    height:72px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:78px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

