body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_Admin_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:20px;
    width:1329px;
    height:953px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1335px;
    height:959px;
}

.u1 {
    position:absolute;
    left:2px;
    top:468px;
    width:1325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Master_Admin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:121px;
    top:20px;
    width:1098px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:212px;
    top:106px;
    width:479px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:257px;
    top:0px;
    width:790px;
    height:145px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Master_Admin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:121px;
    top:140px;
    width:1098px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Master_Admin_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:121px;
    top:190px;
    width:1098px;
    height:783px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:789px;
}

.u9 {
    position:absolute;
    left:2px;
    top:384px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Master_Admin_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u10 {
    position:absolute;
    left:121px;
    top:140px;
    width:1098px;
    height:10px;
    
}

.u11_line {
    background-image: url('../Master_Admin_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u11 {
    position:absolute;
    left:121px;
    top:180px;
    width:1098px;
    height:10px;
    
}

.u12_normal {
    background-image: url('../Master_Admin_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:121px;
    top:923px;
    width:1098px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:133px;
    top:940px;
    width:799px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:1082px;
    top:20px;
    width:137px;
    height:95px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:95px;
}

.u16 {
    position:absolute;
    left:2px;
    top:40px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:946px;
    top:20px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Master_Admin_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:121px;
    top:211px;
    width:210px;
    height:399px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:405px;
}

.u19 {
    position:absolute;
    left:2px;
    top:192px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:133px;
    top:227px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:133px;
    top:276px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:133px;
    top:325px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:133px;
    top:424px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:133px;
    top:374px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:1126px;
    top:124px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:968px;
    top:36px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:1017px;
    top:36px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Master_Admin_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:121px;
    top:20px;
    width:200px;
    height:120px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:120px;
}

.u29 {
    position:absolute;
    left:2px;
    top:52px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:621px;
    top:179px;
    width:593px;
    height:681px;
    overflow:hidden;
}

#pd0u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:593px;
    height:681px;
    
}

.u33 {
    position:absolute;
    left:343px;
    top:191px;
    width:257px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:996px;
    top:869px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:1097px;
    top:869px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u36 {
    position:absolute;
    left:344px;
    top:220px;
    width:272px;
    height:199px
}

.u37_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:105px;
    top:0px;
    width:162px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:20px;
    width:105px;
    height:50px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:56px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:105px;
    top:20px;
    width:162px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:56px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:70px;
    width:105px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:105px;
    top:70px;
    width:162px;
    height:52px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:58px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:122px;
    width:105px;
    height:72px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:78px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../ADVANCE_BLOOD_REQUEST_VERIFYCATION_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:105px;
    top:122px;
    width:162px;
    height:72px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:78px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

