body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:906px;
    height:165px
}

.u1_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u3_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u5_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u7_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u9_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u11_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u13_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Update_member_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:700px;
    top:0px;
    width:101px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Update_member_files/u1_normal.png');
}

.u17_container {
    position:absolute;
    left:801px;
    top:0px;
    width:100px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:28px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:100px;
    top:20px;
    width:100px;
    height:28px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:200px;
    top:20px;
    width:100px;
    height:28px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:300px;
    top:20px;
    width:100px;
    height:28px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u27_container {
    position:absolute;
    left:400px;
    top:20px;
    width:100px;
    height:28px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u29_container {
    position:absolute;
    left:500px;
    top:20px;
    width:100px;
    height:28px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u31_container {
    position:absolute;
    left:600px;
    top:20px;
    width:100px;
    height:28px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Update_member_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:700px;
    top:20px;
    width:101px;
    height:28px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:34px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u35_container {
    position:absolute;
    left:801px;
    top:20px;
    width:100px;
    height:28px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:48px;
    width:100px;
    height:28px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u39_container {
    position:absolute;
    left:100px;
    top:48px;
    width:100px;
    height:28px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u41_container {
    position:absolute;
    left:200px;
    top:48px;
    width:100px;
    height:28px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u43_container {
    position:absolute;
    left:300px;
    top:48px;
    width:100px;
    height:28px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u45_container {
    position:absolute;
    left:400px;
    top:48px;
    width:100px;
    height:28px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u47_container {
    position:absolute;
    left:500px;
    top:48px;
    width:100px;
    height:28px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u49_container {
    position:absolute;
    left:600px;
    top:48px;
    width:100px;
    height:28px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Update_member_files/u33_normal.png');
}

.u51_container {
    position:absolute;
    left:700px;
    top:48px;
    width:101px;
    height:28px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:34px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u53_container {
    position:absolute;
    left:801px;
    top:48px;
    width:100px;
    height:28px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:76px;
    width:100px;
    height:28px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u57_container {
    position:absolute;
    left:100px;
    top:76px;
    width:100px;
    height:28px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u59_container {
    position:absolute;
    left:200px;
    top:76px;
    width:100px;
    height:28px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u61_container {
    position:absolute;
    left:300px;
    top:76px;
    width:100px;
    height:28px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u63_container {
    position:absolute;
    left:400px;
    top:76px;
    width:100px;
    height:28px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u65_container {
    position:absolute;
    left:500px;
    top:76px;
    width:100px;
    height:28px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u67_container {
    position:absolute;
    left:600px;
    top:76px;
    width:100px;
    height:28px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Update_member_files/u33_normal.png');
}

.u69_container {
    position:absolute;
    left:700px;
    top:76px;
    width:101px;
    height:28px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:34px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u71_container {
    position:absolute;
    left:801px;
    top:76px;
    width:100px;
    height:28px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:104px;
    width:100px;
    height:28px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u75_container {
    position:absolute;
    left:100px;
    top:104px;
    width:100px;
    height:28px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u77_container {
    position:absolute;
    left:200px;
    top:104px;
    width:100px;
    height:28px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u79_container {
    position:absolute;
    left:300px;
    top:104px;
    width:100px;
    height:28px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u81_container {
    position:absolute;
    left:400px;
    top:104px;
    width:100px;
    height:28px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u83_container {
    position:absolute;
    left:500px;
    top:104px;
    width:100px;
    height:28px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u85_container {
    position:absolute;
    left:600px;
    top:104px;
    width:100px;
    height:28px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Update_member_files/u33_normal.png');
}

.u87_container {
    position:absolute;
    left:700px;
    top:104px;
    width:101px;
    height:28px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:34px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u89_container {
    position:absolute;
    left:801px;
    top:104px;
    width:100px;
    height:28px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:132px;
    width:100px;
    height:28px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u93_container {
    position:absolute;
    left:100px;
    top:132px;
    width:100px;
    height:28px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u95_container {
    position:absolute;
    left:200px;
    top:132px;
    width:100px;
    height:28px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u97_container {
    position:absolute;
    left:300px;
    top:132px;
    width:100px;
    height:28px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u99_container {
    position:absolute;
    left:400px;
    top:132px;
    width:100px;
    height:28px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u101_container {
    position:absolute;
    left:500px;
    top:132px;
    width:100px;
    height:28px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u103_container {
    position:absolute;
    left:600px;
    top:132px;
    width:100px;
    height:28px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Update_member_files/u33_normal.png');
}

.u105_container {
    position:absolute;
    left:700px;
    top:132px;
    width:101px;
    height:28px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:34px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Update_member_files/u19_normal.png');
}

.u107_container {
    position:absolute;
    left:801px;
    top:132px;
    width:100px;
    height:28px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:706px;
    top:23px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130 {
    position:absolute;
    left:706px;
    top:52px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u131 {
    position:absolute;
    left:706px;
    top:80px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u132 {
    position:absolute;
    left:706px;
    top:108px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133 {
    position:absolute;
    left:706px;
    top:136px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u134 {
    position:absolute;
    left:808px;
    top:23px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135 {
    position:absolute;
    left:808px;
    top:52px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u136 {
    position:absolute;
    left:808px;
    top:79px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:808px;
    top:108px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138 {
    position:absolute;
    left:808px;
    top:135px;
    width:86px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

