body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_Admin_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:20px;
    width:1329px;
    height:953px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1335px;
    height:959px;
}

.u1 {
    position:absolute;
    left:2px;
    top:468px;
    width:1325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Master_Admin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:121px;
    top:20px;
    width:1098px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:212px;
    top:106px;
    width:479px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:257px;
    top:0px;
    width:790px;
    height:145px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Master_Admin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:121px;
    top:140px;
    width:1098px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Master_Admin_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:121px;
    top:190px;
    width:1098px;
    height:783px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:789px;
}

.u9 {
    position:absolute;
    left:2px;
    top:384px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Master_Admin_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u10 {
    position:absolute;
    left:121px;
    top:140px;
    width:1098px;
    height:10px;
    
}

.u11_line {
    background-image: url('../Master_Admin_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u11 {
    position:absolute;
    left:121px;
    top:180px;
    width:1098px;
    height:10px;
    
}

.u12_normal {
    background-image: url('../Master_Admin_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:121px;
    top:923px;
    width:1098px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:133px;
    top:940px;
    width:799px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:1082px;
    top:20px;
    width:137px;
    height:95px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:95px;
}

.u16 {
    position:absolute;
    left:2px;
    top:40px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:946px;
    top:20px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Master_Admin_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:121px;
    top:211px;
    width:210px;
    height:399px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:405px;
}

.u19 {
    position:absolute;
    left:2px;
    top:192px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:133px;
    top:227px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:133px;
    top:276px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:133px;
    top:325px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:133px;
    top:424px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:133px;
    top:374px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_menu {
    background-image: url('../Master_Admin_files/u25_menu.png');
}

.u25_menu {
    position:absolute;
    left:140px;
    top:145px;
    width:569px;
    height:42px;
}

#u25_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:566px;
    height:39px;
}

#u26 {
    position:absolute;
    left:3px;
    top:3px;
    width:559px;
    height:32px
}

.u27_normal {
    background-image: url('../Master_Admin_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:27px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Master_Admin_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:100px;
    top:0px;
    width:115px;
    height:27px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:33px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Master_Admin_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:215px;
    top:0px;
    width:123px;
    height:27px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:33px;
}

.u32 {
    position:absolute;
    left:2px;
    top:6px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Master_Admin_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:338px;
    top:0px;
    width:100px;
    height:27px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Master_Admin_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:438px;
    top:0px;
    width:116px;
    height:27px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:33px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:1126px;
    top:124px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:968px;
    top:36px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:1017px;
    top:36px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Master_Admin_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:121px;
    top:20px;
    width:200px;
    height:120px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:120px;
}

.u41 {
    position:absolute;
    left:2px;
    top:52px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:621px;
    top:179px;
    width:593px;
    height:716px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:593px;
    height:716px;
    
}

.u45 {
    position:absolute;
    left:35px;
    top:4px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:35px;
    top:48px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:35px;
    top:97px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:35px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:35px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:35px;
    top:224px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:35px;
    top:356px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_container {
    position:absolute;
    left:185px;
    top:328px;
    width:357px;
    height:190px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:357px;
    height:190px;
}

.u53 {
    position:absolute;
    left:2px;
    top:87px;
    width:353px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:337px;
    top:599px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:219px;
    top:599px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:279px;
    top:94px;
    width:24px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:219px;
    top:5px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:219px;
    top:48px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:219px;
    top:97px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:327px;
    top:98px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:219px;
    top:138px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:219px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:219px;
    top:224px;
    width:218px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:31px;
    top:288px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:216px;
    top:288px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../EVENT_VERIFY_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:339px;
    top:180px;
    width:272px;
    height:715px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:721px;
}

.u67 {
    position:absolute;
    left:2px;
    top:350px;
    width:268px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:339px;
    top:217px;
    width:277px;
    height:199px
}

.u69_normal {
    background-image: url('../EVENT_VERIFY_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../EVENT_VERIFY_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:105px;
    top:0px;
    width:167px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../EVENT_VERIFY_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:20px;
    width:105px;
    height:50px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:56px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../EVENT_VERIFY_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:105px;
    top:20px;
    width:167px;
    height:50px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:56px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../EVENT_VERIFY_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:70px;
    width:105px;
    height:52px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:58px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../EVENT_VERIFY_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:105px;
    top:70px;
    width:167px;
    height:52px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:58px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../EVENT_VERIFY_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:122px;
    width:105px;
    height:72px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:78px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../EVENT_VERIFY_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:105px;
    top:122px;
    width:167px;
    height:72px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:78px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:406px;
    top:191px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

