body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Master_Admin_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:20px;
    width:1329px;
    height:953px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1335px;
    height:959px;
}

.u1 {
    position:absolute;
    left:2px;
    top:468px;
    width:1325px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Master_Admin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:121px;
    top:20px;
    width:1098px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:212px;
    top:106px;
    width:479px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:257px;
    top:0px;
    width:790px;
    height:145px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Master_Admin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:121px;
    top:154px;
    width:1098px;
    height:783px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:789px;
}

.u7 {
    position:absolute;
    left:2px;
    top:384px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Master_Admin_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u8 {
    position:absolute;
    left:121px;
    top:140px;
    width:1098px;
    height:10px;
    
}

.u9_line {
    background-image: url('../Master_Admin_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:3px;
    width:1098px;
    height:5px;
}

.u9 {
    position:absolute;
    left:121px;
    top:144px;
    width:1098px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../Master_Admin_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:121px;
    top:887px;
    width:1098px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1104px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:1094px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:133px;
    top:904px;
    width:799px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:1061px;
    top:20px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Master_Admin_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:121px;
    top:175px;
    width:210px;
    height:399px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:405px;
}

.u15 {
    position:absolute;
    left:2px;
    top:192px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:133px;
    top:191px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:133px;
    top:240px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:133px;
    top:289px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:133px;
    top:388px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:133px;
    top:338px;
    width:198px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:1095px;
    top:36px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:133px;
    top:430px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Master_Admin_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:121px;
    top:20px;
    width:200px;
    height:120px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:120px;
}

.u24 {
    position:absolute;
    left:2px;
    top:52px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:338px;
    top:203px;
    width:852px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

